{# Search filters on reservations > results pages #}

{# Search filters form #}
{{ form_start(filtersForm, {'method': 'get', 'attr': {'class': 'filter-form'}}) }}
<aside>
	<div>
		<div>
			{{ form_row(filtersForm.date) }}
			{{ form_row(filtersForm.city) }}
		</div>
		{{ form_row(filtersForm.meal) }}
	</div>
	<div>
		{{ form_row(filtersForm.price) }}
	</div>
	<div>
		{{ form_row(filtersForm.rate) }}
	</div>
	<div>
		{{ form_row(filtersForm.begin) }}
	</div>
	<button type="submit" class="btn btn-primary me-2 mb-2">Appliquer</button>
	<a href="" class="btn btn-secondary">Réinitialiser les filtres</a>
	{{ form_end(filtersForm) }}
</aside>