{% extends 'base.html.twig' %}

{% block title %}Vos compte Guide
{% endblock %}

{% block body %}

	<h1 class="ms-3 pb-3 border-bottom border-dark">Votre compte Guide</h1>

	<section class="container">
		<h2>Vos informations</h2>
		{{ form_start(guideForm) }}
		<div>
			{{ form_label(guideForm.cities, 'Ville :', { 'attr': { 'class': 'form-label' } }) }}
			{{ form_widget(guideForm.cities, {'attr': {'class': 'form-control form-check'}}) }}
		</div>

		{{ form_label(guideForm.nb_places, 'Nombre de personnes :', { 'attr': { 'class': 'form-label' } }) }}
		{{ form_widget(guideForm.nb_places, {'attr': {'class': 'form-control'}}) }}

		{{ form_label(guideForm.languages, 'Langue(s) :', { 'attr': { 'class': 'form-label' } }) }}
		{{ form_widget(guideForm.languages, {'attr': {'class': 'form-control'}}) }}

		<div class="form-group d-flex mt-2">

			<label for="{{ guideForm.smoking.vars.id }}" class="form-label mr-2">Fumeur :</label>


			{{ form_widget(guideForm.smoking, { 'attr': { 'class': 'form-check-input' } }) }}
		</div>

		{{ form_label(guideForm.description, 'Description :', { 'attr': { 'class': 'form-label' } }) }}
		{{ form_widget(guideForm.description, {'attr': {'class': 'form-control'}}) }}

		{{ form_label(guideForm.prefernces, 'Préférence(s) :', { 'attr': { 'class': 'form-label' } }) }}
		{{ form_widget(guideForm.prefernces, {'attr': {'class': 'form-control'}}) }}

		{{ form_label(guideForm.speciality, 'Spécialité :', { 'attr': { 'class': 'form-label' } }) }}
		{{ form_widget(guideForm.speciality, {'attr': {'class': 'form-control'}}) }}
		<div class="mt-3 pb-3 border-bottom border-dark">
			<button class="btn btn-primary" type="submit">Modifier</button>
		</div>
		{{ form_end(guideForm) }}
	</section>
	<section class="container">
		<h2>Vos réservations</h2>
		<a href="{{ path('app_guide_reservations_index') }}" class="text-primary">Vos réservations</a>
	</section>
	<section class="container">
		<h2>Vos avis</h2>
		<a href="{{ path('app_guide_reviews_index') }}" class="text-primary">Voir vos avis</a>
	</section>
{% endblock %}
