{% extends 'base.html.twig' %}

{% block title %}Réservations
{% endblock %}

{% block body %}
    <main>
        <h1>Réservations</h1>
        <section class="container">
            <h2>Les réservations disponibles</h2>
            {% for reservationData in reservationsWithRatings %}
                <div class="container mt-5 col-lg-6 col-md-6 col-sm-10">
                    <div class="card shadow-lg card-guide">
                        <a href="{{ path('app_reservations_details', {id: reservationData.reservation.id}) }}" target="_blank">
                            <div class="card-body">
                                <div class="row mb-2 border-bottom pb-2">
                                    <div class="col-lg-4">
                                        <strong>Date :</strong>
                                        {{ reservationData.reservation.day.format('d/m/Y') }}
                                    </div>
                                    <div class="col-lg-4">
                                        <strong>Départ :</strong>
                                        {% if reservationData.reservation.begin is not null %}
                                            <span>{{ reservationData.reservation.begin|date('H:i') }}</span>
                                        {% else %}
                                            <p>Non défini</p>
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-4">
                                        <strong>Fin :</strong>
                                        {% if reservationData.reservation.end is not null %}
                                            <span>{{ reservationData.reservation.end|date('H:i') }}</span>
                                        {% else %}
                                            <p>Non défini</p>
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-4">
                                        <strong>Ville :</strong>
                                        {{ reservationData.reservation.city.name }}
                                    </div>
                                    <div class="col-lg-4">
                                        <strong>Repas compris :</strong>
                                        {% if reservationData.reservation.meal %}
                                            Oui
                                        {% else %}
                                            Non
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-4">
                                        <strong>Place restante(s) :</strong>
                                        {{ reservationData.reservation.placesDispo }}
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2 d-flex align-items-center">
                                <div class="ms-3">
                                    <img src="{{ reservationData.reservation.guide.user.picture ? asset('uploads/users/mini/40x40-' ~ reservationData.reservation.guide.user.picture) : asset('assets/images/favicon.png') }}" class="rounded-circle" alt="Photo de profil"/>
                                </div>
                                <div class="ms-1">
                                    <strong>{{ reservationData.reservation.guide.user.pseudo }}</strong>
                                </div>
                                <div class="ms-2">
                                    <span class="fw-bold me-2" id="guide-note">
                                        {% if reservationData.averageRating is not null %}
                                            {{ reservationData.averageRating|number_format(1) }}/5
                                        {% else %}
                                            -/5
                                        {% endif %}
                                    </span>
                                </div>
                                <div class="ms-3">
                                    <strong>Prix :</strong>
                                    {{ reservationData.reservation.price }}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </section>
        <section>
            <h2>Nos guides</h2>
            <ul>
                {% for user in users %}
                    <li>
                        <img src="{{ user.picture ? asset('uploads/users/mini/40x40-' ~ user.picture) : asset('assets/images/favicon.png') }}" alt="Photo de profil"/>
                        {{ user.pseudo }}
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock %}
