{% extends 'base.html.twig' %}

{% block title %}Résultats de votre recherche
{% endblock %}

{% block body %}
<main class="wrapper">
    <section class="container mb-5">
        <h1 class="ms-3 text-center mt-5">Résultats de recherche</h1>
        <div class="row">
			{# Filters become Accordion on mobile and tablet #}
            <div class="d-lg-none mb-3">
                <button class="btn btn-primary w-100" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#filtersCollapse"
                        aria-expanded="false"
                        aria-controls="filtersCollapse">
                    Filtres
                </button>
            </div>
			{# Filters section #}
            <div class="col-12 col-lg-3 mb-3 mb-lg-0 border-end border-2">
                <div class="collapse d-lg-block" id="filtersCollapse">
                    <h2>Filtres</h2>
                    {% if reservations is not empty %}
                        {% include '_partials/_search_filters.html.twig' %}
                    {% else %}
                        <p class="fs-5">Aucun filtre disponible</p>
                    {% endif %}
                </div>
            </div>
			{# Results section #}
            <div id="results" class="col-12 col-lg-9">
				{# For each item in the 'reservations' array, we extract the reservation itself (data[0]) and the associated guide's average rating (data['averageRating']).#}
                {% if reservations is not empty %}
					<div class="row justify-content-center">
						{% for data in reservations %}
							{% set reservation = data[0] %}
							{% set averageRating = data['averageRating'] %}

							<div class=" mt-5 col-lg-8 col-md-9 col-sm-10">
								<div class="card shadow-lg card-guide">
									<a href="{{ path('app_reservations_details', {id: reservation.id}) }}" target="_blank">
										<div class="card-body">
											<div class="row mb-2 border-bottom pb-2">
												<div class="col-lg-4">
													<strong>Date :</strong>
													{{ reservation.day.format('d/m/Y') }}
												</div>
												<div class="col-lg-4">
													<strong>Départ :</strong>
													{# If no time defined #}
													{% if reservation.begin is not null %}
														<span>{{ reservation.begin|date('H:i') }}</span>
													{% else %}
														<p>Non défini</p>
													{% endif %}
												</div>
												<div class="col-lg-4">
													<strong>Fin :</strong>
													{# If no time defined #}
													{% if reservation.end is not null %}
														<span>{{ reservation.end|date('H:i') }}</span>
													{% else %}
														<p>Non défini</p>
													{% endif %}
												</div>
												<div class="col-lg-4">
													<strong>Ville :</strong>
													{{ reservation.city.name }}
												</div>
												<div class="col-lg-4">
													<strong>Repas compris :</strong>
													{% if reservation.meal %}
														Oui
													{% else %}
														Non
													{% endif %}
												</div>
												<div class="col-lg-4">
													<strong>Place restante(s) :</strong>
													{{ reservation.placesDispo }}
												</div>
											</div>
										</div>
										<div class="mb-2 d-flex align-items-center">
											<div class="ms-3">
											{# if no user pictures #}
												<img src="{{ reservation.guide.user.picture ? asset('uploads/users/mini/40x40-' ~ reservation.guide.user.picture) : asset('/images/favicon.png') }}" class="rounded-circle" alt="Photo de profil de {{ reservation.guide.user.pseudo }}"/>
											</div>
											<div class="ms-1">
												<strong>{{ reservation.guide.user.pseudo }}</strong>
											</div>
											<div class="ms-2">
												<span class="fw-bold me-2" id="guide-note">
												{# if guides has no rate #}
													{% if averageRating is not null %}
														{{ averageRating|number_format(1) }}/5
													{% else %}
														-/5
													{% endif %}
												</span>
											</div>
											<div class="ms-3">
												<strong>Prix :</strong>
												{{ reservation.price }}
											</div>
										</div>
									</a>
								</div>
							</div>
						{% endfor %}
					{% else %}
					{# if no reservations on selected day use "findClosestDay" from the reservations Repository #}
					{# Find nearest day available #}
						<div class="fs-5 text-center pt-5 row">
							{% if findClosestDay is not null %}
								<p>Nous n'avons aucun guide disponible pour la date choisi.</p>
								<p>Date la plus proche disponible :</p>
								<a class="text-warning fw-bold" href="{{ path('app_reservations_results', { day: findClosestDay|date('Y-m-d'), city: city }) }}">
									{{ findClosestDay|date('d/m/Y') }}
								</a>
							{% else %}
								Nous n'avons aucune date disponible pour le moment.
							{% endif %}
						</div>
					{% endif %}
            </div>
        </div>
    </section>
</main>
{% endblock %}
